@import 'variables/colors';

.alert-message {
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
  padding: 10px;

  .title {
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 5px;
    width: 100%;
  }

  &.success {
    background-color: $bk-success-message;
    border-color: $border-success-message;
    color: $color-success-message;
  }

  &.error {
    background-color: $bk-error-message;
    border-color: $border-error-message;
    color: $color-error-message;
  }

  &.warning {
    background-color: $bk-warning-message;
    border-color: $border-warning-message;
    color: $color-warning-message;
  }
}
