$bk-gray: #E7E7E7;
$black: #000;
$blue: #00F;
$dark-gray: #A8A8A8;
$gray: #CCC;
$red: #F00;
$white: #FFF;
$wolox-blue: #01ADEE;
$wolox-green: #BED23C;

$bk-error-message: #F8D7DA;
$border-error-message: #F5C6CB;
$color-error-message: #721C24;

$bk-success-message: #D4EDDA;
$border-success-message: #C3E6CB;
$color-success-message: #155724;

$bk-warning-message: #FFF3CD;
$border-warning-message: #FFEEBA;
$color-warning-message: #856404;

$shadow-color: #9E9E9E;
